In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("missing_data.csv")
df

     ID        Name                    Age  Email
0     1    Person 1    person1@example.com   46.0
1     2    Person 2    person2@example.com   20.0
2     3    Person 3                    NaN    NaN
3     4    Person 4    person4@example.com   55.0
4     5    Person 5                    NaN    NaN
..  ...         ...                    ...    ...
95   96   Person 96   person96@example.com    NaN
96   97   Person 97                    NaN    NaN
97   98   Person 98                    NaN   58.0
98   99   Person 99                    NaN    NaN
99  100  Person 100  person100@example.com    NaN

[100 rows x 4 columns]

In [3]:
df = df.rename(columns={'Age':'Email', 'Email':'Age'})
df

     ID        Name                  Email   Age
0     1    Person 1    person1@example.com  46.0
1     2    Person 2    person2@example.com  20.0
2     3    Person 3                    NaN   NaN
3     4    Person 4    person4@example.com  55.0
4     5    Person 5                    NaN   NaN
..  ...         ...                    ...   ...
95   96   Person 96   person96@example.com   NaN
96   97   Person 97                    NaN   NaN
97   98   Person 98                    NaN  58.0
98   99   Person 99                    NaN   NaN
99  100  Person 100  person100@example.com   NaN

[100 rows x 4 columns]

In [4]:
total_cells = np.product(df.shape)

missing_values_count = df.isnull().sum()
total_missing = missing_values_count.sum()

percent_missing = (total_missing / total_cells) * 100

print('Total Cells: ', total_cells)
print('Total Missing: ', total_missing)
print('Missing Percentage', percent_missing)

Total Cells:  400
Total Missing:  107
Missing Percentage 26.75

In [5]:
ser = df['Age'].copy()

for i in range(len(ser)):
    curr_class = str(ser.iloc[i]).replace(".0", "")

    if curr_class != 'nan':
        ser.iloc[i] = curr_class + ' Years old'

df['Age'] = ser

df.dropna(inplace=True)
df.reset_index(inplace=True, drop=True)
df

    ID       Name                 Email           Age
0    1   Person 1   person1@example.com  46 Years old
1    2   Person 2   person2@example.com  20 Years old
2    4   Person 4   person4@example.com  55 Years old
3   11  Person 11  person11@example.com  26 Years old
4   15  Person 15  person15@example.com  65 Years old
5   19  Person 19  person19@example.com  22 Years old
6   20  Person 20  person20@example.com  54 Years old
7   22  Person 22  person22@example.com  58 Years old
8   26  Person 26  person26@example.com  47 Years old
9   30  Person 30  person30@example.com  27 Years old
10  36  Person 36  person36@example.com  63 Years old
11  38  Person 38  person38@example.com  47 Years old
12  39  Person 39  person39@example.com  18 Years old
13  40  Person 40  person40@example.com  30 Years old
14  41  Person 41  person41@example.com  20 Years old
15  44  Person 44  person44@example.com  30 Years old
16  47  Person 47  person47@example.com  46 Years old
17  57  Person 57  person57@example.com  35 Years old
18  61  Person 61  person61@example.com  22 Years old
19  63  Person 63  person63@example.com  63 Years old
20  70  Person 70  person70@example.com  52 Years old
21  77  Person 77  person77@example.com  64 Years old
22  87  Person 87  person87@example.com  54 Years old
23  88  Person 88  person88@example.com  63 Years old
24  89  Person 89  person89@example.com  52 Years old

In [8]:
for column in df.columns:
    print(column, df[column].dtype)

ID int64
Name object
Email object
Age object

In [9]:
df.to_csv("cleaned_data.csv", index=False)